<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org">
<body>
<nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/}">GYM FITNESS CENTER</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <div class="navbar-nav ms-auto">
                <a class="nav-link" th:href="@{/}">Inicio</a>
                <a class="nav-link" th:href="@{/categoria/listado}">Categorías</a>
                <a class="nav-link" th:href="@{/servicio/listado}">Clases</a>
                <a class="nav-link" th:href="@{/contacto}">Contacto</a>
            </div>
        </div>
    </div>
</nav>
</body>
</html>